*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* ------------------------------------ */
body {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
}

.page {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.wrapper { 
    display: flex;
    justify-content: center;
    width: 100%;
    background: #CBE86B;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px 0;
    box-shadow: .5px .5px 7px 0px;
}

.encodeData { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.encodeData__content { }

.encodeData__fields { 
    display: flex;
    flex-direction: column;
}

.encodeData__fields span {
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.fields__input { 
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    padding: 8px 12px;
}

.fields__input::-webkit-input-placeholder {
    opacity: 0.3;
}

.encodeData__button {
    padding: 10px 0 10px 0; 
}

.fields__input:focus::placeholder {
    text-indent: 500px;
    transition: 1s;
}

.encodeData__button a{ 
    border-radius: 10px;
    padding: 12px 18px;
    background: #F56991;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: inherit;
}

.resultData { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resultData .wrapper {
    margin-bottom: 0;
}

.resultData__content { }

.resultData__field {
    margin-bottom: 30px;
}

.resultData__field textarea { 
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    padding: 8px 12px;
    overflow: hidden;
}

.resultData__buttons a { 
    border-radius: 10px;
    padding: 12px 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #F56991;
}

.resultData__paragraph { 
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    color: #ffffff;
}

.fields__input:focus,
.resultData__field textarea:focus {
    outline: none;
    box-shadow: 0 0 5px 0px #FD3D63;
}

.encodeData__button a:hover,
.resultData__buttons a:hover {
    box-shadow: 1px 1px 5px 0px black;
    background: #FD3D63;
    color: #ffffff;
    transition: 0.2s;
}